output_dir/
model/*.params
model/*.states.00
model/*.states.01
model/*.states.02
model/*.states.03
model/*.states.04
model/*.states.05
model/*.states.06
model/*.states.07
log_*.txt

test_data/

.DS_Store
__pycache__/

pretraining_distillation_test/
log_test_glue
log_test_pretraining
log_test_qa